@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.wf-notosansjapanese {
  font-family: "Noto Sans Japanese";
}

.message-header {
  font-size: large;
}

.message-body {
  font-size: x-large;
}

.highlight {
  font-size: large;
}
